body {
    background-color: rgb(137, 175, 180);

    color: azure;

    font-size: calc(20px + 2vh);

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-shadow:  2px 2px 4px rgba(0,0,0.5);
}
@keyframes pulse {
    0% {transform: translateY(0) scale(1);}
    50% {transform: translateY(90px) translateX(90px) scale(1.1);}
    100% {transform: translateY(0) scale(1);}
    
}

.pulsing-text {
    animation: pulse 2s infinite;
}
canvas {
    border: 10px solid #000000; 
    background-color: #ffffff;
}